<h1>ikura Blog</h1>

<h2>新しい投稿</h2>
<%= form_for :blog, url: blogs_path do |f| %>
  <p>
    <%= f.label :body, "投稿内容" %><br>
    <%= f.text_field :body %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>

<h3>全ての投稿一覧</h3>
<table>
  <% @blogs.each do |blog| %>
    <tr><td><%=  link_to blog.body ,blog, target: "_blank" %></td></tr>
    <tr><button id="like-buttons" onclick="countup()">いいね<%= blog.like %></button></tr>
    <script type="text/javascript">
    function countup(){
      document.getElementById( "like-buttons" ).innerHTML = ++ <%= blog.like %>
    }
    </script>
  <% end %>
</table>
