<h1>ikura Blog</h1>

<%= form_for :blog, url: blogs_path do |f| %>
  <p>
    <%= f.label :body, "投稿内容" %><br>
    <%= f.text_field :body %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>


<h3>全ての投稿一覧</h3>
<hr>
<ul id="blogs">
  <% @blogs.each do |blog| %>
    <li class="blog">
      <p>
        <span><%= blog.id %></span>
        <span class="body"><%=  link_to blog.body ,blog, target: "_blank" %></span>
      </p>
      <p class="meta">
        <span class="like"><%= link_to "いいね:", like_path(blog.id),method: :post %> <%= blog.like %>| </span>
        <span class="pst-date">投稿日時： <%= blog.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></span>
      </p>
    </li>
  <% end %>
</ul>
